@model IEnumerable<Data.Models.Cv>

@{
    ViewBag.Title = "About";
}

<div class="portfolio">


    <div class="text-center">
        <h3>Våra Cv:</h3>
    </div>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Cv-->
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#item-@item.UserId">

                            <img class="img-fluid" src="~/Content/img/CvPorträtt/User3.jpg" alt="..." />
                            <h3>@item.Competence</h3>
                            <p>@item.Education</p>
                            <p>@item.Experience</p>

                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</div>