@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "Home Page";
}


<!-- Projects-->
<div class="portfolio">
    <div class="text-center section-title">
        <h1>Grupp 15</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae magni similique nisi, ratione sed, <br>fugit minus corporis sint praesentium dignissimos
            rem adipisci vitae, ipsam ipsum dolorum repellendus alias quis repellat.
        </p>
    </div>



    <div class="text-center">
        <h3>Våra projekt:</h3>
    </div>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Projects-->
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#item-@item.Id">
                            @*<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>*@
                            <img class="img-fluid" src="~/Content/img/@item.imageUrl" alt="..." />
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</div>